<div class="flex flex-col justify-center items-center">
  <h1 class="text-4xl text-[#7255C5] mb-8">
    Добро пожаловать на образовательный портал 130 лицея
  </h1>
  <p class="text-2xl">
    Данный сервис позволяется учащимся получить доступ к учебным материалам в
    удобное им время
  </p>
  <p class="text-2xl mb-8">
    Если же вам не понятен материал, представленный вашим учителем, то вы всегда
    можете попросить помощь в объяснении материала от других учащихся
  </p>
  <div class="grid grid-cols-2 gap-8 mb-8">
    <div class="text-2xl">
      Плюсы вам:
      <ul>
        <li>Доступ к материалам в любое время</li>
        <li>Отпадаем необходимость в учебнике</li>
        <li>
          В случаи проблем всегда можно получить помощь от других учащихся
        </li>
      </ul>
    </div>
    <div class="text-2xl">
      Плюсы помогающему:
      <ul>
        <li>
          Получение баллов, которое могут быть использованы при спорной оценке
        </li>
        <li>Развитие soft скиллов</li>
        <li>Опыт в преподавательстве</li>
      </ul>
    </div>
  </div>
  <p class="text-2xl mb-8 font-light">
    Данный портал предназначен для учеников и учителей лицея
  </p>
  <div class="flex gap-8 items-center">
    <a
      routerLink="login"
      class="bg-[#7255C5] px-4 py-2 text-white font-semibold text-lg border-2 border-[#7255C5] rounded-xl hover:bg-white hover:text-[#7255C5] transition-colors">
      Войти
    </a>
    <a
      routerLink="registration"
      class="bg-[#7255C5] px-4 py-2 text-white font-semibold text-lg border-2 border-[#7255C5] rounded-xl hover:bg-white hover:text-[#7255C5] transition-colors"
      >Зарегистрироваться</a
    >
  </div>
</div>
