<div *ngIf="!isLoading">
  <div *ngIf="lessonsData && lessonsData.length !== 0; else notfound">
    <h2 class="text-4xl text-[#7255C5] mb-4">Мои уроки</h2>
    <div class="flex flex-col gap-8">
      <div
        class="border-2 rounded-xl p-4"
        *ngFor="let subject of lessonsData"
        [id]="subject.subject.id">
        <h3 class="text-3xl mb-4">{{ subject.subject.name }}</h3>
        <div class="flex flex-col">
          <div
            [routerLink]="['/lessons', lesson.id]"
            class="py-4 border-t-2 last:border-b-2 hover:bg-gray-200 cursor-pointer flex justify-between items-center"
            *ngFor="let lesson of subject.lessons">
            <h4 class="text-xl">{{ lesson.name }}</h4>
            <p class="text-lg">Сложность: {{ lesson.difficultyScore }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #notfound>
    <div class="border-2 rounded-xl p-8 flex flex-col items-center bg-white">
      <h2 class="text-4xl text-[#7255C5] mb-8">Уроки не были найдены</h2>
      <p class="text-2xl">
        Возможно, ваши учителя не прикрепили к вашему классу уроки
      </p>
    </div>
  </ng-template>
</div>
