<header>
  <div class="header_container">
    <div class="header_user">
      <tui-avatar
        text="{{ full_name }}"
        class="tui-space_top-1"
        [rounded]="true"></tui-avatar>
      <div>{{ full_name }}</div>
      <div>
        <tui-hosted-dropdown
          tuiDropdownLimitWidth="auto"
          [content]="dropdown"
          tuiDropdownAlign="left">
          <button
            tuiIconButton
            type="button"
            [iconRight]="arrow"
            size="xs"
            appearance="custom"></button>
        </tui-hosted-dropdown>
        <ng-template #dropdown>
          <div class="content">
            <a href="#">
              <tui-svg src="tuiIconSettingsLarge" class="icon"></tui-svg>
              Настройки
            </a>
            <a href="#">
              <tui-svg src="tuiIconLogOutLarge" class="icon"></tui-svg>
              Выйти
            </a>
          </div>
        </ng-template>
      </div>

      <tui-badged-content
        colorTop="var(--tui-error-fill)"
        size="xs"
        class="tui-space_right-5"
        [rounded]="true">
        <tui-svg src="tuiIconBellLarge" class="icon"></tui-svg>
      </tui-badged-content>
    </div>
    <img src="assets/logo.svg" alt="Logo" style="margin: 8px 0" />
  </div>
</header>
