<header class="bg-[#D4B7EE]">
  <div class="container mx-auto flex align-middle justify-between">
    <div class="flex items-center gap-2 text-white">
      <button
        tuiIconButton
        type="button"
        (click)="toggle(true)"
        (tuiActiveZoneChange)="toggle($event)"
        icon="tuiIconAlignLeftLarge">
        <div
          *tuiSidebar="open; direction: 'left'"
          class="flex flex-col justify-center px-8">
          <a routerLink="/" class="text-2xl my-4">Личный кабинет</a>
          <a
            *ngIf="(authService.payload$ | async)?.type === 'student'"
            routerLink="/lessons"
            class="text-2xl my-4"
            >Мои уроки</a
          >
          <a
            *ngIf="(authService.payload$ | async)?.type === 'student'"
            routerLink="/class"
            class="text-2xl my-4"
            >Мой класс</a
          >
          <a
            *ngIf="(authService.payload$ | async)?.type === 'student'"
            routerLink="/books"
            class="text-2xl my-4"
            >Учебники</a
          >
          <a
            *ngIf="(authService.payload$ | async)?.type === 'student'"
            routerLink="/help-requests"
            class="text-2xl my-4"
            >Помощь</a
          >
          <a
            routerLink="/class/teacher"
            class="text-2xl my-4"
            *ngIf="(authService.payload$ | async)?.type === 'teacher'"
            >Приклепление уроков</a
          >
        </div>
      </button>
    </div>
    <div class="flex items-center gap-10">
      <button
        routerLink="/login"
        *ngIf="(authService.payload$ | async)?.type"
        tuiButton
        type="button"
        shape="rounded"
        size="m"
        appearance="secondary"
        (click)="logOut()">
        Выйти
      </button>
      <img src="assets/logo.svg" alt="Logo" style="margin: 8px 0" />
    </div>
  </div>
</header>
