<form
  class="flex flex-col items-stretch mx-auto w-[480px] bg-white shadow-lg rounded-3xl"
  [formGroup]="loginForm"
  #form="ngForm"
  (ngSubmit)="submitHandler()">
  <h2
    class="text-white font-bold flex gap-2.5 items-center justify-center py-6 text-4xl bg-[#D4B7EE] rounded-t-3xl">
    Авторизация
  </h2>
  <div class="flex flex-col gap-7 p-8">
    <div class="flex flex-col">
      <label for="email" class="text-2xl">Логин</label>
      <input
        id="email"
        class="bg-[#F8F3FB] shadow rounded-3xl p-3"
        type="text"
        autocomplete="off"
        formControlName="email" />
    </div>
    <div class="flex flex-col relative">
      <label for="password" class="text-2xl">Пароль</label>
      <input
        id="password"
        class="bg-[#F8F3FB] shadow rounded-3xl p-3"
        type="password"
        autocomplete="off"
        formControlName="password" />
      <div
        class="absolute text-red-600 bottom-[-20px] left-3"
        *ngIf="form.hasError('badcreds') && form.submitted">
        Введены неверные данные
      </div>
    </div>
    <div class="flex flex-col">
      <label for="type" class="text-2xl">Тип</label>
      <select
        id="type"
        class="bg-[#F8F3FB] shadow rounded-3xl p-3"
        formControlName="type">
        <option ngValue="student" value="student">Ученик</option>
        <option ngValue="teacher" value="teacher">Учитель</option>
      </select>
    </div>
    <div class="flex flex-col gap-2">
      <button
        class="bg-[#D4B7EE] mb-3 text-white p-4 w-[416px] text-2xl font-bold rounded-3xl hover:bg-[#E1D0F0] transition-colors"
        type="submit">
        Войти
      </button>

      <p class="text-[#999999] text-xl mx-auto">Еще нет аккаунта?</p>
      <button
        class="bg-[#D4B7EE] text-white p-4 w-[416px] text-2xl font-bold rounded-3xl hover:bg-[#E1D0F0] transition-colors"
        routerLink="/registration">
        Регистрация
      </button>
    </div>
  </div>
</form>
