.wrapper{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.block__about{

}
.block{
  margin-top: 2.5em;
  display: flex;
  justify-content: flex-start;

  gap: 3em;

}
.block__lessons{
  width: 67em;
}
.block__lessons__card{
  box-shadow: 0px 5px 10px 0px #7255C51A;

  /*border: #FF0000 solid 1.5px;*/
display: flex;
  flex-direction: column;
  width: min-content;
  border-radius: 20px;
}
.block__lessons__card div{
  padding: 20px 1em;
  /*border: #5FC588 solid 1.5px;*/
  width: 13em;
  height: 3.5em;
}
.block__lessons__wrapper{
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
}
abbr{
  text-decoration: none;
}
.block__lessons__card__header{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /*padding: 10px 20px;*/
  border-radius: 20px 20px 0 0;
  background: #FFB1B1;
  overflow: hidden;
  width: 26ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.block__lessons__card__pic{

}
.block__lessons__card__desc{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  border-radius: 0 0 20px 20px;
  background: #FFB1B1;
  text-align: center;
}
.profile__title{
  color: #7255C5;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: .5em;

}
.profile__card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 10px 0px #7255C51A;
}
.profile__text{
  color: #C396EC;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
ul{
  margin-left: 2.5em;
  margin-right: 2.5em;
}
li{
  margin: 0 0 15px 0;
  display: flex;
  gap: 1em;
  align-items: center;
}
.profile__card__small{
  display: flex;
  flex-direction: column;
  /*border: solid 1px red;*/
  max-width: 900px;
  gap: 5px;
  box-shadow: 0px 5px 10px 0px #7255C51A;
  border-radius: 20px;
}
.profile__card__title{
  color: #5FC588;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 10px 10px 0 10px;
}
.profile__card_description{
  color:#00000099;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin: 0 10px;
}
.profile__card__info{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  margin: 0 10px 10px;
}
.profile__card_btn{
  background: #5FC588;
  border-radius: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding: 5px 5px;

  color: #FFFFFF;
}
